## Aufgaben zur personal-Datenbank

In [11]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [12]:
%sql mysql://steinam:steinam@localhost/personal

'Connected: steinam@personal'

![personal](personal.png)

1.	Welcher Mitarbeiter steht in einer alphabetisch sortierten Liste an letzter Stelle? Es sollen die Mitarbeiternummer, der Nachname und der Vorname angezeigt werden.

In [37]:
%%sql

select 1 = 1

1 rows affected.

[(1,)]

- Welche Mitarbeiter haben an 

  - welchen Projekten 
  - welcher Kunden
  - wieviele Stunden gearbeitet? 						

Zeigen sie Mitarbeiternummer (Sortierkriterium), Nachname und Vorname des Mitarbeiters, Projektnummer, Projektname, Stunden und Firma an

In [38]:
%%sql

select 1 = 2

1 rows affected.

[(0,)]

- Die Unternehmensleitung möchte die Summe der Monatsgehälter für jede Abteilung wissen. Die Spalten Abteilungsnummer, Abteilungsname und Summe der Monatsgehälter sollen angezeigt werden.

- Es soll das durchschnittliche Alter aller Mitarbeiter, das Alter des ältesten Mitarbeiters und Alter des jüngsten Mitarbeiters ermittelt werden. Es genügt ein Näherungswert in Jahren

- Wie viele Mitarbeiter arbeiten in der Abteilung 3?

- Alle Mitarbeiter in der Abteilung 4, die mehr verdienen als der Mitarbeiter der Abteilung 5 mit dem 
  höchsten Monatsgehalt, sind mit der Mitarbeiternummer, dem Nachnamen und dem Monatsgehalt anzuzeigen.

- Welche Mitarbeiter haben ein kleineres Monatsgehalt als das durchschnittliche Monatsgehalt aller Mitarbeiter? Nachname, Vorname und Monatsgehalt dieser Mitarbeiter sollen angezeigt werden.

- In welchen Abteilungen arbeiten mehr als vier Mitarbeiter? 
Die Abteilungsnummer und die Anzahl der Mitarbeiter sollen angezeigt werden.

- Sie wollen wissen, wieviel Kosten (Stunden * Stundensatz) bisher für das Projekt PKR aufgelaufen sind.