In [ ]:
%load_ext sql



![Ausgabe](sommer_2014_hs5_modell.png)

 [Sommer_2014](sommer_2014.sql)

In [ ]:
%sql mysql://steinam:steinam@localhost/sommer_2014

# Frage 1

Erstellen Sie eine SQL-Abfrage, die alle Artikel auflistet, deren Artikelbezeichnungen die Zeichenketten "Schmerzmittel" oder "schmerzmittel" enthalten.  Zu jedem Artikel sollen jeweils alle Attribute ausgeben werden.

## Lösung

In [5]:
%%sql 

select * from artikel
    where Art_Bezeichnung like '%Schmerzmittel%' or Art_Bezeichnung like '%schmerzmittel%';

1 rows affected.

[(1, 'IB767126', 'Bosko_Schmerzmittel', 10.5)]

# Frage 2

Erstellenn Sie eine Abfrage, die alle Kunden und deren Umsätze auflistet. Zu jedem Kunden aollen alle Attribute ausgegeben werden. Die Liste soll nach Umsatz absteigend sortiert werden.

## Lösung

In [ ]:
%%sql 
  select k.Kd_firma, sum(rp.RgPos_Menge * rp.RgPos_Preis) as Umsatz 
    from Kunde k left join Rechnung r
    on k.Kd_Id = r.Rg_Kd_ID
    inner join Rechnungsposition rp
        on r.Rg_ID = rp.RgPos_RgID
    group by k.`Kd_Firma`
    order by Umsatz desc;

In [ ]:
%%sql 
-- Originallösung bringt das gleiche Ergebnis

select k.`Kd_Firma`,
(select sum(RgPos_menge * RgPos_Preis)
    from `rechnungsposition` rp, rechnung r 
        where r.`Rg_ID` = `rp`.`RgPos_RgID` and r.`Rg_Kd_ID` = k.`Kd_ID`) as Umsatz
from kunde k order by Umsatz desc

# Frage 3

Erstellen Sie eine SQL-Abfrage, die für jeden Artikel Folgendes ermittelt:
- Die Menge, die insgesamt verkauft wurde
- Die Anzahl der Rechnungspositionen

![Ausgabe](sommer_2014_hs5_frage_c.png)

## Lösung

In [ ]:
%%sql
-- meine Lösung
select artikel.*, sum(RgPos_Menge) as Menge, count(RgPos_ID) as Anzahl
from artikel inner join `rechnungsposition`
where `rechnungsposition`.`RgPos_ArtID` = `artikel`.`Art_ID`
group by artikel.`Art_ID`

In [ ]:
%%sql
-- Leitungslösung

select artikel.* , 
    (select sum(RgPOS_Menge)  from Rechnungsposition rp 
        where rp.RgPos_ArtID = artikel.Art_ID) as Menge,
    (select count(RgPOS_menge)  from Rechnungsposition rp 
        where rp.RgPos_ArtID = artikel.Art_ID) as Anzahl
from Artikel

# Frage 4

Deutschland ist in 10 Postleitzahlregionen (0-9, 1. Stelle der PLZ) eingeteilt.
Erstellen Sie eine SQl-Abfrage für eine Liste, die für jede PLZ-Region (0-9) den Gesamtumsatz aufweist.
Die Liste soll nach Gesamtumsatz absteigend sortiert werden. 

![Ausgabe](sommer_2014_hs5_frage_d.png)

## Lösung

In [ ]:
%%sql
-- Original
select left(kunde.`Kd_PLZ`,1) as Region,
    sum(`rechnungsposition`.`RgPos_Menge` * `rechnungsposition`.`RgPos_Preis`) as Summe
    from kunde left join rechnung
        on kunde.`Kd_ID` = rechnung.`Rg_Kd_ID`
    left join rechnungsposition 
        on `rechnung`.`Rg_ID` = `rechnungsposition`.`RgPos_RgID`
group by Region
order by Summe;

In [ ]:
%%sql
-- Inner join ändert nichts
select left(kunde.`Kd_PLZ`,1) as Region,
    sum(`rechnungsposition`.`RgPos_Menge` * `rechnungsposition`.`RgPos_Preis`) as Summe
    from kunde inner join rechnung
        on kunde.`Kd_ID` = rechnung.`Rg_Kd_ID`
    inner join rechnungsposition 
        on `rechnung`.`Rg_ID` = `rechnungsposition`.`RgPos_RgID`
group by Region
order by Summe;