# Nordwind on Paper

In [4]:
%load_ext sql

In [5]:
%sql mysql://steinam:steinam@localhost/versicherung_complete

'Connected: steinam@versicherung_complete'

-	Gesucht wird eine wiederholungsfreie Liste der Herstellerländer			3 P

In [17]:
%%sql 

select distinct Land from Fahrzeughersteller;

5 rows affected.

[('Deutschland',), ('Schweden',), (None,), ('Frankreich',), ('',)]

- Listen Sie alle Fahrzeugtypen und die Anzahl Fahrzeuge dieses Typs, aber nur, wenn mehr als 2 Fahrzeuge des Typs vorhanden sind. Sortieren Sie die Ausgabe nach Fahrzeugtypen.	4 P

In [ ]:
select fharzeugtyp.typ, count(fahrzeug.iD) as Anzahl
from fahrzeugtyp left join fahrzeug
on fahrzeugtyp.id = fahrzeug.fahrzeugtypid
group by fahrzeugtyp.typ
having count(Anzahl) > 2

In [18]:
%%sql

select fahrzeugtyp.Bezeichnung, count(fahrzeug.iD) as Anzahl
from fahrzeugtyp left join fahrzeug
on fahrzeugtyp.id = fahrzeug.fahrzeugtyp_id
group by fahrzeugtyp.bezeichnung
having count(Anzahl) > 2

1 rows affected.

[('Corsa', 3)]

- Ermittle die Namen und Vornamen der Mitarbeiter incl. Abteilungsname, deren Abteilung ihren Sitz in Dortmund oder Bochum hat.

select `Name`, vorname, Bezeichnung from Mitarbeiter inner join Abteilung 
on Mitarbeiter.Abt_ID = Abteilung.ID 
where Abteilung.Ort in('Dortmund, 'Bochum')

In [26]:
%%sql

select Name, vorname, Bezeichnung from Mitarbeiter inner join Abteilung 
on Mitarbeiter.Abteilung_ID = Abteilung.ID 
where Abteilung.Ort in('Dortmund', 'Bochum')

14 rows affected.

[('Müller', 'Kurt', 'Finanzbuchhaltung'),
 ('Schneider', 'Daniela', 'Finanzbuchhaltung'),
 ('Meyer', 'Walter', 'Anlagenbuchhaltung'),
 ('Schmitz', 'Michael', 'Anlagenbuchhaltung'),
 ('Wagner', 'Gaby', 'Kostenrechnung'),
 ('Feyerabend', 'Werner', 'Kostenrechnung'),
 ('Langmann', 'Matthias', 'Kostenplanung'),
 ('Peters', 'Michael', 'Kostenplanung'),
 ('Aagenau', 'Karolin', 'Lagerhaltung'),
 ('Pinkart', 'Petra', 'Lagerhaltung'),
 ('Olschewski', 'Pjotr', 'Produktion'),
 ('Nordmann', 'Jörg', 'Produktion'),
 ('Carlsen', 'Zacharias', 'Forschung und Entwicklung'),
 ('Baber', 'Yvonne', 'Forschung und Entwicklung')]

- Gesucht wird für jeden Fahrzeughersteller (Angabe der ID reicht) und jedes Jahr die kleinste und größte Schadenshöhe. 
Geben Sie falls möglich auch die Differenz zwischen den beiden Werten mit in der jeweiligen Ergebnismenge aus. Ansonsten erzeugen Sie für diese Aufgabe ein eigenes sql-Statement.										5 P

In [ ]:
select fahrzeughersteller.id, min(schadenshoehe), max(Schadenshoehe), 
(max(schadenshoehe) - min(schadenshoehe)) as Differenz
from fahrzeughersteller left join fahrzeugtyp 
    on fahrzeughersteller.id = fahrzeugtyp.hersteller_ID
left join 
fahrzeugtyp inner join fahrzeug on fahrzeugtyp.id = fahrzeug.typid
    inner join zuordnung_sf_fz
        on fahrzeug.id = zuordnung_sf_fz.fahrzeug_id

In [30]:
%%sql

select fahrzeughersteller.id, min(schadenshoehe), max(Schadenshoehe), 
(max(schadenshoehe) - min(schadenshoehe)) as Differenz
from fahrzeughersteller left join fahrzeugtyp 
    on fahrzeughersteller.id = fahrzeugtyp.hersteller_ID
 inner join fahrzeug on fahrzeugtyp.id = fahrzeug.fahrzeugtyp_id
    inner join zuordnung_sf_fz
        on fahrzeug.id = zuordnung_sf_fz.fahrzeug_id
        
-- group by vergessen

1 rows affected.

[(2, Decimal('731.50'), Decimal('2653.40'), Decimal('1921.90'))]

- Zeige alle Mitarbeiter und deren Autokennzeichen, die als Dienstwagen einen Opel fahren. 
											4 P

In [ ]:
select Mitarbeiter.Name, dienstawagen.Kennzeichen
from Mitarbeiter inner join dienstwagen
on mitarbeiter.id = dienstawagen.Mitarbeiter_id
inner join fahrzeugtyp 
    on dienstwagen.fahrzeugtyp_Id = fahrzeugtyp.id
    inner join fahrzeughersteller
        on fahrzeugtyp.hersteller_id = fahrzeughersteller.id
where fAhrzeughersteller.NAme = 'Opel'

- Welche Fahrzeuge haben Schäden verursacht, deren Schadenssumme höher als die durchschnittliche Schadenshöhe sind.							5 P

In [ ]:
select fahrzeug.kennzeichen, sum(schadenshoehe)
from fahrzeug inner join zuordnung_sf_fz
group by fahrzeug.kennzeichen
having sum(schadenshoehe) > (select avg(schadenhoehe) from zuordnung_sf_fz)

- Welche Mitarbeiter sind älter als das Durchschnittsalter der Mitarbeiter.		4 P

select Mitarbeiter.Name, Mitarbeiter.Geburtsdatum
from Mitarbeiter
where Geburtsdatum > (select avg(Geburtsdatum) from Mitarbeiter -- wird dieser Vergleich gehen

-- oder anders
where (now() - Geburtsdatum) > (select now() - (select avg(geburtsdatum) from mitarbeiter);